<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-wvfXpEpFvXmF9e4ph1tu1EuV+7tvo8GC5F8fPIhp2v+O9Rv5c1Nq5FF2O5Gv7Fv" crossorigin="anonymous">

</head>
<body>
    {% block content %}
    {% endblock %}
</body>
</html>